.text {
    display: block;
    line-height: 1.75;
    font-size: .875rem;
}

.text:first-of-type {
    margin-top: 1rem;
}

.work-title {
    display: inline-block;
    /* margin: 0 0.5rem; */
    /* transition: all 200ms; */
}

.work-title:hover {
    font-weight: 600;
    /* transform: scale(1.1); */
    /* transition: all 200ms; */
}

.projects-box {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
}

.project {
    text-align: center;
    display: inline-block;
}

.project-description {
    display: inline-block;
    padding-top: 4rem;
    font-size: .875rem;
    line-height: 1.75;
}

.project-description-title {
    font-size: 1rem;
    display: inline-block;
    margin-bottom: 1rem;
}

.project-description ul {
    list-style: disc;
    list-style-position: inside;
}

.project-image {
    width: 12rem;
    display: block;
}

.project-title {
    display: inline-block;
    font-weight: 600;
    margin:0 0.5rem 1rem 0.5rem;
    font-size: 1.25rem;
}

.project-tech {
    margin-top: 3rem;
    text-align: center;
    flex: 1 100%;
}

.project-tech ul {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    flex-flow: wrap;
}

.project-tech ul li {
    font-weight: 600;
    margin: 0.5rem .25rem;
}


/* TABLET */
@media screen and (min-width: 768px) {    
    .text {
        font-size: 1rem;
    }

    .projects-box {
        margin-top: 4rem;
    }

    .project-title {
        font-weight: 700;
        font-size: 1.5rem;
    }

    .project-image {
        width: 20rem;
    }

    .text:first-of-type {
        margin-top: 0rem;
    }

    .text {
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    .project-description {
        font-size: 1rem;
        padding-top: 0rem;
    }

    .project-description-title {
        font-size: 1.25rem;
    }
}