.list {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.item {
    display: block;
    height: 1.25rem;
    font-size: 1rem;
}

.item a {
    display: inline-block;
    text-decoration: none;
    transition: all 200ms;
}

.item a:hover {
    font-weight: 600;
    transform: scale(1.1);
    transition: all 200ms;
}

/* TABLET */
@media screen and (min-width: 48rem) {
    .item {
        margin-bottom: 0.25rem;
        width: 6rem;
    }
}

/* DESKTOP */
@media screen and (min-width: 64rem) {
    .list {
        right: 3rem;
    }
}