.text {
    line-height: 1.75;
    display: block;
    margin-bottom: 0.5rem;
    font-size: .875rem;
}

.resume {
    margin-top: 2rem;
    font-size: 1.25rem;
    font-weight: 600;
    display: inline-block;
    border-bottom: 2px solid #a4292a;
    line-height: 1.25;
    text-decoration: none;
    transition: all 200ms;
}

.resume:hover {
    transform: scale(1.1);
    transition: all 200ms;
}

@media screen and (min-width: 768px) {    
    .text {
        font-size: 1rem;
    }
}