.wrapper {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}

.image-wrap {
    order: 1;
    overflow: hidden;
    height: 12rem;
    width: 8rem;
    border-top-right-radius: 12rem;
    border-bottom-right-radius: 12rem;
    margin-left: -2rem;
}

.image {
    height: 100%;
}

.text-wrapper {
    margin-top: 2rem;
    order: 2;
}

.sub-title {
    font-size: 1rem;
    color: #9a9a9a;
    font-weight: 300;
}

.title {
    color: #a4292a;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.text {
    line-height: 1.75;
    display: block;
    margin-bottom: 0.5rem;
    font-size: .875rem;
}

.cv {
    font-weight: 700;
    display: inline-block;
    color: #a4292a;
    text-decoration: none;
    /* transition: all 200ms; */
}

.cv:hover {
    /* transform: scale(1.1);
    transition: all 200ms; */
}

.menu {
    text-align: right;
    position: absolute;
    right: 2rem;
    line-height: .7;
}

.menu-one {
    font-weight: 600;
    font-size: 12rem;
    display: block;
    color: #9a9a9a1a;
}

.menu-two {
    display: block;
    color: #a4292a30;
    font-weight: 500;
    font-size: 6rem;
}

/* TABLET */
@media screen and (min-width: 768px) {
    .wrapper {
        margin-top: 15rem;
        flex-direction: row;
    }

    .text-wrapper {
        margin-top: 0rem;
        margin-left: 5rem;
        width: 50%;
    }

    .image-wrap {
        margin-left: -2rem;
        height: 20rem;
        width: 11rem;
        border-top-right-radius: 20rem;
        border-bottom-right-radius: 20rem;
    }
    
    .image {
        height: 100%;
        margin-left: -2rem;
        margin-top: 0;
    }

    .title {
        font-size: 3rem;
    }

    .sub-title {
        font-size: 1.25rem;
    }
    
    .text {
        font-size: 1rem;
    }
}