
.header {
    display: block;
    font-size: 1rem;
    font-weight: 600;
}

@media screen and (min-width: 48rem) {
    .header {
        font-size: 2rem;
    }
}

@media screen and  (min-width: 64rem) {
    .header {
        font-size: 3rem;
    }
}