.text {
    display: block;
    font-size: 1rem;
}

.email {
    margin-right: 3rem;
}

.email, .phone {
    display: inline-block;
    transition: all 200ms;
}

.email:hover, .phone:hover {
    transform: scale(1.05);
    transition: all 200ms;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 2rem;
    margin-top: 2rem;
    transition: all 200ms;
}

.icon:hover {
    cursor: pointer;
    /* fill: #ea6a1d; */
    transform: scale(1.2);
    transition: all 200ms;
}

@media screen and (min-width: 768px) {
    .text {
        font-size: 1.25rem;
    }
}